@import "./typography";

// Atomic styles

.uppercase {
    text-transform: uppercase;
}

.bold {
    @extend .nunito-700;
}

// Overrides

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}
