@import "./typography";

// Atomic styles

.uppercase {
    text-transform: uppercase;
}

.bold {
    @extend .nunito-700;
}
.flex {
    display: flex;
}
.flex--column {
    @extend .flex;
    flex-direction: column;
}

// Overrides

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}
