.mulish, .mulish-400, .testimonial-card .testimonial-card__user-details .testimonial-card__user-info, header nav a, .mulish-700, button, .testimonial-card .testimonial-card__user-details .testimonial-card__user-name, header nav a.selected, footer h4, .mulish-600, a, body {
  font-family: "Mulish";
}

.mulish-400, .testimonial-card .testimonial-card__user-details .testimonial-card__user-info, header nav a {
  font-weight: 400;
}

.mulish-700, button, .testimonial-card .testimonial-card__user-details .testimonial-card__user-name, header nav a.selected, footer h4 {
  font-weight: 700;
}

.mulish-600, a {
  font-weight: 600;
}

.material-icon, a[data-icon]::after, button::after, header .nav-icon::before {
  font-family: "Material Icons";
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

h1 {
  font-size: 2.8em;
}

@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }
}

a,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #4089ed;
}

a[data-icon]::after {
  content: attr(data-icon);
  margin-left: 6px;
}

button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 500px;
  font-size: 0.8em !important;
  border: 1px solid #6e6e6e;
  padding: 12px 24px !important;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: var(--color, black);
  background-color: var(--background-color, white);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  min-width: 160px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

button::after {
  margin-left: 6px;
  content: attr(data-icon);
}

button:hover {
  background-color: var(--color);
  color: var(--background-color);
}

.logo, .logo--light {
  fill: none;
  --text-color: #233348;
  --circle-color: #458ff6;
  --inner-t-color: white;
}

.logo .logo-text, .logo--light .logo-text {
  fill: var(--text-color);
}

.logo .logo-circle-bg, .logo--light .logo-circle-bg {
  fill: var(--circle-color);
}

.logo .inner-letter-t, .logo--light .inner-letter-t {
  fill: var(--inner-t-color);
}

.logo--light {
  --text-color: white;
  --circle-color: white;
  --inner-t-color: #5b9bf3;
}

.service-card {
  padding: 45px 32px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
          box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
}

.service-card .service-card__img {
  max-width: 90px;
}

.service-card .service-card__description {
  max-width: 100% !important;
  text-align: left !important;
}

.article-card {
  background-color: white;
  width: 350px;
  border-radius: 20px;
  -webkit-box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
          box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
}

.article-card .article-card__preview {
  width: 100%;
}

.article-card .article-card__body {
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}

.article-card .article-card__body .article-card__heading {
  width: 85%;
}

.article-card .article-card__body .article-card__description {
  margin-bottom: 20px;
  max-width: 100% !important;
  text-align: left !important;
}

.article-card .article-card__body .article-card__read-more {
  margin-bottom: 10px;
}

.testimonial-card {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: inherit;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
      grid-template-areas: "img details content";
  gap: 32px;
}

.testimonial-card .testimonial-card__user-img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: img;
  width: 100%;
  height: auto;
}

.testimonial-card .testimonial-card__user-details {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: details;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 120px;
}

.testimonial-card .testimonial-card__user-details .testimonial-card__user-name {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.testimonial-card .testimonial-card__content {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: content;
  max-width: 360px;
  line-height: 28px;
}

.testimonial-card .testimonial-card__content::before {
  content: '"';
}

.testimonial-card .testimonial-card__content::after {
  content: '"';
}

@media (max-width: 600px) {
  .testimonial-card {
    -ms-grid-columns: 80px auto;
        grid-template-columns: 80px auto;
    -ms-grid-rows: 90px auto;
        grid-template-rows: 90px auto;
        grid-template-areas: "img details" "content content";
    row-gap: 10px;
    -webkit-column-gap: 12px;
            column-gap: 12px;
  }
}

:root {
  font-size: 18px;
}

html,
body {
  overflow-x: hidden;
}

html {
  scroll-padding: 40px 0;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: 100px;
      scroll-snap-type: 100px;
}

body {
  width: 80vw;
  margin: 36px auto;
}

@media (max-width: 600px) {
  body {
    margin: 20px auto;
    width: 92vw;
  }
}

body[data-nav-toggled="true"] .nav-icon::before {
  content: "close";
}

.button--primary {
  --background-color: #458ff6;
  --color: white;
  border: 1px solid var(--background-color);
  padding: 8px 30px;
  font-size: 1em;
}

.button--secondary {
  --background-color: #ffffff;
  --color: #458ff6;
  border: 1px solid #458ff6;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

header .nav-icon {
  display: none;
}

header .nav-icon::before {
  content: "menu";
  font-size: 1.4rem;
}

@media (max-width: 600px) {
  header .nav-icon {
    display: block;
  }
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-transition: all 0.3s ease-in-out, -webkit-transform none;
  transition: all 0.3s ease-in-out, -webkit-transform none;
  transition: transform none, all 0.3s ease-in-out;
  transition: transform none, all 0.3s ease-in-out, -webkit-transform none;
}

@media (max-width: 600px) {
  header nav {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
    position: absolute;
  }
}

header nav a {
  color: #1f1534;
  font-size: 1em;
  opacity: 50%;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  position: relative;
}

header nav a.selected {
  opacity: 100%;
}

header nav a::after {
  position: absolute;
  bottom: -6px;
  left: 50%;
  content: "";
  height: 3px;
  width: 0;
  background-color: #1b79fc;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

header nav a:hover {
  opacity: 100%;
}

header nav a:hover::after {
  left: 0;
  width: 100%;
}

header .toggled-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ccddec;
  top: 10%;
  left: 0;
  right: 0;
  padding: 20px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#hero-section {
  height: 80vh;
  margin-bottom: 16vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 600px) {
  #hero-section {
    height: 64vh;
  }
  #hero-section .button--primary {
    font-size: 1em !important;
  }
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 240px;
  gap: 60px;
}

section h2 {
  font-size: 2em;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: var(--color);
}

section h2::after {
  position: absolute;
  content: "";
  display: block;
  bottom: -50%;
  left: 0;
  right: 0;
  margin: auto;
  width: var(--underline-width, 32%);
  height: 3px;
  border-radius: 500px;
  background-color: var(--color, black);
}

@media (max-width: 600px) {
  section h2::after {
    bottom: -20%;
  }
}

section .section__description {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  max-width: 72%;
  color: #7d7987;
  line-height: 30px;
}

@media (max-width: 600px) {
  section {
    margin-bottom: 100px;
  }
  section .section__description {
    max-width: 90%;
  }
}

.section--image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10%;
}

.section--image div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  min-width: 200px;
  width: 64%;
}

.section--image div h1,
.section--image div h2,
.section--image div p {
  max-width: 64%;
}

.section--image div h2 {
  margin-bottom: 40px;
}

.section--image div h2::after {
  content: "";
  margin: 0;
  width: 16%;
  bottom: -20%;
}

.section--image div p {
  color: #7d7987;
  line-height: 28px;
  margin-bottom: 32px;
}

.section--image .section--image__image {
  max-width: 40%;
  height: auto;
}

@media (max-width: 600px) {
  .section--image {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 20px;
  }
  .section--image div {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section--image div h1,
  .section--image div h2,
  .section--image div p {
    max-width: 94%;
  }
  .section--image .section--image__image {
    width: 86%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.section--normal {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 600px) {
  .section--normal h2 {
    text-align: center;
  }
}

#testimonials {
  background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
  padding: 40px 10px;
  color: white;
  border-radius: 24px;
  height: 360px;
}

@media (max-width: 600px) {
  #testimonials {
    height: 480px;
  }
}

#testimonials h2 {
  --color: white;
  --underline-width: 40px;
  margin-bottom: 0px;
}

#testimonials .testimonial-scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#testimonials .testimonial-scroll .testimonial-card {
  margin: 24px 0 64px;
}

@media (max-width: 600px) {
  #testimonials .testimonial-scroll .testimonial-card {
    padding: 4px 20px;
    margin: 0 0 56px;
  }
}

#testimonials .testimonial-scroll .testimonial-scroll__scroll-controls {
  --color: #5b9bf3;
  --space: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

#testimonials .testimonial-scroll .testimonial-scroll__scroll-controls i.material-icons {
  color: var(--color);
}

#testimonials .testimonial-scroll .testimonial-scroll__scroll-controls .previous {
  margin-right: var(--space);
}

#testimonials .testimonial-scroll .testimonial-scroll__scroll-controls .circle {
  font-size: 0.6em !important;
  opacity: 60%;
}

#testimonials .testimonial-scroll .testimonial-scroll__scroll-controls .circle.selected {
  opacity: 100%;
}

#testimonials .testimonial-scroll .testimonial-scroll__scroll-controls .next {
  margin-left: var(--space);
}

#testimonials .testimonial-scroll .testimonial-scroll__scroll-controls .previous,
#testimonials .testimonial-scroll .testimonial-scroll__scroll-controls .next,
#testimonials .testimonial-scroll .testimonial-scroll__scroll-controls .circle {
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

#testimonials .testimonial-scroll .testimonial-scroll__scroll-controls .previous:hover,
#testimonials .testimonial-scroll .testimonial-scroll__scroll-controls .next:hover,
#testimonials .testimonial-scroll .testimonial-scroll__scroll-controls .circle:hover {
  opacity: 40%;
}

.service-cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service-cards-container .service-card {
  width: 28%;
}

@media (max-width: 600px) {
  .service-cards-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .service-cards-container .service-card {
    width: 100%;
  }
}

.article-cards-container {
  gap: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 600px) {
  .article-cards-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  padding: 80px 10vw;
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 100px;
  background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer #about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

footer .link-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

footer h4 {
  margin-bottom: 1em;
}

footer a {
  color: white;
}

@media (max-width: 600px) {
  footer {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: (auto)[4];
        grid-template-rows: repeat(4, auto);
    gap: 20px;
  }
  footer .link-section {
    gap: 6px;
  }
  footer h4 {
    margin-bottom: 0.6em;
  }
}
