.mulish, .mulish-400, .mulish-700, button, header nav a.selected, footer h4, body {
  font-family: "Mulish";
}

.mulish-400 {
  font-weight: 400;
}

.mulish-700, button, header nav a.selected, footer h4 {
  font-weight: 700;
}

.material-icon, a::after, button::after {
  font-family: "Material Icons";
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

h1 {
  font-size: 2.8em;
}

a {
  text-decoration: none;
  color: black;
}

a::after {
  content: attr(data-icon);
}

button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 500px;
  font-size: 0.8em !important;
  border: 1px solid #6e6e6e;
  padding: 12px 24px !important;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

button::after {
  margin-left: 6px;
  content: attr(data-icon);
}

.logo, .logo--light {
  fill: none;
  --text-color: #233348;
  --circle-color: #458ff6;
  --inner-t-color: white;
}

.logo .logo-text, .logo--light .logo-text {
  fill: var(--text-color);
}

.logo .logo-circle-bg, .logo--light .logo-circle-bg {
  fill: var(--circle-color);
}

.logo .inner-letter-t, .logo--light .inner-letter-t {
  fill: var(--inner-t-color);
}

.logo--light {
  --text-color: white;
  --circle-color: white;
  --inner-t-color: #5b9bf3;
}

.service-card {
  width: 28%;
  padding: 45px 32px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
          box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
}

.service-card .service-card__img {
  max-width: 90px;
}

.service-card .service-card__description {
  max-width: 100% !important;
  text-align: left !important;
}

.article-card {
  background-color: red;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
          box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
}

:root {
  font-size: 18px;
}

body {
  width: 80vw;
  margin: 36px auto;
  min-height: 300vh;
}

.button--primary {
  background-color: #458ff6;
  color: white;
  border: none;
  padding: 8px 30px;
  font-size: 1em;
}

.button--secondary {
  background-color: #ffffff;
  color: #458ff6;
  border: 1px solid #458ff6;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

header nav a {
  color: #1f1534;
  font-size: 1em;
  opacity: 50%;
}

header nav a.selected {
  opacity: 100%;
}

#hero-section {
  height: 80vh;
  margin-bottom: 16vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 240px;
  gap: 60px;
}

section h2 {
  font-size: 2em;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

section h2::after {
  position: absolute;
  content: "";
  display: block;
  bottom: -50%;
  left: 0;
  right: 0;
  margin: auto;
  width: 32%;
  height: 3px;
  border-radius: 500px;
  background-color: black;
}

.section--image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10%;
}

.section--image div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  min-width: 200px;
  width: 64%;
}

.section--image div h1,
.section--image div h2,
.section--image div p {
  max-width: 64%;
}

.section--image div h2 {
  margin-bottom: 40px;
}

.section--image div h2::after {
  content: "";
  margin: 0;
  width: 16%;
  bottom: -20%;
}

.section--image div p {
  color: #7d7987;
  line-height: 28px;
  margin-bottom: 32px;
}

.section--normal {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section--normal p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  max-width: 72%;
  color: #7d7987;
  line-height: 30px;
}

.service-cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.article-cards-container {
  gap: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  padding: 80px 10vw;
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 100px;
  background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer #about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

footer .link-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

footer h4 {
  margin-bottom: 1em;
}

footer a {
  color: white;
}
