#hero-section {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
    // margin: auto;

    .heading,
    .sub-heading {
        margin: 0;
    }

    .sub-heading {
        @extend .nunito-400;
        margin-top: 80px;
        font-size: 2em;
        max-width: 460px;
    }
    .heading {
        @extend .nunito-700;
        font-size: 4em;
        max-width: 460px;
        margin-bottom: 40px;
    }
    button {
        @extend .nunito-700;
        width: fit-content;
        color: white;
        background: #daa520;
        border: none;
        padding: 14px 24px;
        border-radius: 4px;
    }
    img {
        grid-column: 2;
        grid-row: 1 / 5;
        width: 80%;
        justify-self: flex-end;
    }
}
