.roboto, .roboto-400, .roboto-500, .roboto-700, h1, h2, h3, h4, h5, body {
  font-family: "Roboto";
}

.nunito, .nunito-400, a, p, .nunito-600, .testimonial-card .testimonial-card__user-details, .testimonial-card .testimonial-card__content, header nav, .section .section__description, #hero-section .section__description, #section--type-2 .section__description, #features-section .section__description, .brand .brand__address, .nunito-700, .testimonial-card .testimonial-card__user-name, .nunito-800, .brand .brand__contact {
  font-family: "Nunito";
}

.roboto-400 {
  font-weight: 400;
}

.roboto-500 {
  font-weight: 500;
}

.roboto-700, h1, h2, h3, h4, h5 {
  font-weight: 700;
}

.nunito-400, a, p {
  font-weight: 400;
}

.nunito-600, .testimonial-card .testimonial-card__user-details, .testimonial-card .testimonial-card__content, header nav, .section .section__description, #hero-section .section__description, #section--type-2 .section__description, #features-section .section__description, .brand .brand__address {
  font-weight: 600;
}

.nunito-700, .testimonial-card .testimonial-card__user-name {
  font-weight: 700;
}

.nunito-800, .brand .brand__contact {
  font-weight: 800;
}

.material-icon, a[data-icon]::after,
button[data-icon]::after,
a[data-icon-position="right"]::after,
button[data-icon-position="right"]::after, a[data-icon-position="left"]::before,
button[data-icon-position="left"]::before {
  font-family: "Material Icons";
  font-size: 24px;
}

a {
  text-decoration: none;
  color: black;
}

button {
  cursor: pointer;
  border: 0;
}

a[data-icon],
button[data-icon],
a[data-icon-position="right"],
button[data-icon-position="right"] {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a[data-icon]::after,
button[data-icon]::after,
a[data-icon-position="right"]::after,
button[data-icon-position="right"]::after {
  font-size: 20px;
  margin-left: 10px;
  content: attr(data-icon);
}

a[data-icon-position="left"],
button[data-icon-position="left"] {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a[data-icon-position="left"]::before,
button[data-icon-position="left"]::before {
  font-size: 20px;
  margin-left: 10px;
  content: attr(data-icon);
}

h1 {
  color: #212353;
}

h2 {
  color: #212353;
}

h3 {
  color: #212353;
}

h4 {
  color: #212353;
}

h5 {
  color: #212353;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 40px;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1rem;
}

.button, .button--primary, .button--secondary {
  border-radius: 500px;
  font-size: 1rem;
  padding: 10px 20px;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.button--primary {
  background: #9c69e2;
  color: white;
}

.button--primary:hover {
  background: #724da7;
}

.button--secondary {
  color: #212353;
  background-color: white;
  -webkit-box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
          box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
}

.button--secondary:hover {
  background: #dddddd;
}

.button--secondary::after, .button--secondary::before {
  color: #9c69e2;
}

.feature-card {
  max-width: 500px;
  min-height: 300px;
  padding: 20px;
  -ms-flex-line-pack: center;
      align-content: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
      grid-template-areas: "img heading" "img description" ". learn-more";
  background-repeat: no-repeat;
  background-position: right;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  background-size: 75% 100%;
  padding: 12px;
}

.feature-card .feature-card__image {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: img;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.feature-card .feature-card__heading {
  text-transform: capitalize;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: heading;
  margin-bottom: 0px;
}

.feature-card .feature-card__description {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: description;
  color: #4b5d68;
  margin-right: 10px;
}

.feature-card .feature-card__learn-more {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: learn-more;
  color: #212353;
}

.feature-card .feature-card__learn-more::after {
  color: #9c69e2;
}

#feature-card-1 {
  background-image: url("./../assets/feature-card-1-bg.svg");
}

#feature-card-2 {
  background-image: url("./../assets/feature-card-2-bg.svg");
}

#feature-card-3 {
  background-image: url("./../assets/feature-card-3-bg.svg");
}

#feature-card-4 {
  background-image: url("./../assets/feature-card-4-bg.svg");
}

.testimonial-card {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 640px;
  min-width: 420px;
  gap: 16px;
  padding: 2% 3%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 20px;
}

.testimonial-card .testimonial-card__user-image {
  width: 150px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.testimonial-card .break {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.testimonial-card .testimonial-card__user-name {
  font-size: 1em;
  line-height: 29px;
}

.testimonial-card .testimonial-card__user-details {
  font-size: 0.9em;
  letter-spacing: 0.01em;
  color: #9c69e2 !important;
}

.testimonial-card .testimonial-card__content {
  color: #4b5d68;
  font-size: 1em;
  line-height: 32px;
  margin-top: 10px;
}

.roboto, .roboto-400, .roboto-500, .roboto-700, h1, h2, h3, h4, h5, body {
  font-family: "Roboto";
}

.nunito, .nunito-400, a, p, .nunito-600, .testimonial-card .testimonial-card__user-details, .testimonial-card .testimonial-card__content, header nav, .section .section__description, #hero-section .section__description, #section--type-2 .section__description, #features-section .section__description, .brand .brand__address, .nunito-700, .testimonial-card .testimonial-card__user-name, .nunito-800, .brand .brand__contact {
  font-family: "Nunito";
}

.roboto-400 {
  font-weight: 400;
}

.roboto-500 {
  font-weight: 500;
}

.roboto-700, h1, h2, h3, h4, h5 {
  font-weight: 700;
}

.nunito-400, a, p {
  font-weight: 400;
}

.nunito-600, .testimonial-card .testimonial-card__user-details, .testimonial-card .testimonial-card__content, header nav, .section .section__description, #hero-section .section__description, #section--type-2 .section__description, #features-section .section__description, .brand .brand__address {
  font-weight: 600;
}

.nunito-700, .testimonial-card .testimonial-card__user-name {
  font-weight: 700;
}

.nunito-800, .brand .brand__contact {
  font-weight: 800;
}

.material-icon, a[data-icon]::after,
button[data-icon]::after,
a[data-icon-position="right"]::after,
button[data-icon-position="right"]::after, a[data-icon-position="left"]::before,
button[data-icon-position="left"]::before {
  font-family: "Material Icons";
  font-size: 24px;
}

a {
  text-decoration: none;
  color: black;
}

button {
  cursor: pointer;
  border: 0;
}

a[data-icon],
button[data-icon],
a[data-icon-position="right"],
button[data-icon-position="right"] {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a[data-icon]::after,
button[data-icon]::after,
a[data-icon-position="right"]::after,
button[data-icon-position="right"]::after {
  font-size: 20px;
  margin-left: 10px;
  content: attr(data-icon);
}

a[data-icon-position="left"],
button[data-icon-position="left"] {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a[data-icon-position="left"]::before,
button[data-icon-position="left"]::before {
  font-size: 20px;
  margin-left: 10px;
  content: attr(data-icon);
}

h1 {
  color: #212353;
}

h2 {
  color: #212353;
}

h3 {
  color: #212353;
}

h4 {
  color: #212353;
}

h5 {
  color: #212353;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 40px;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1rem;
}

#testimonial-section {
  background: #9c69e2;
  border-radius: 50px;
  padding: 40px;
  padding-right: 0;
}

#testimonial-section h2 {
  color: white;
}

#testimonial-section #testimonial-scroll {
  margin: 20px 0;
}

#testimonial-section #testimonial-scroll #testimonials-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  margin-bottom: 20px;
}

#testimonial-section #testimonial-scroll #testimonials-container {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

#testimonial-section #testimonial-scroll #testimonials-container::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

#testimonial-section #controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#testimonial-section #controls #testimonial-scroll__bubbles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#testimonial-section #controls #testimonial-scroll__bubbles .bubble {
  font-size: 8px;
  color: white;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#testimonial-section #controls #testimonial-scroll__bubbles .bubble.selected {
  font-size: 10px;
  color: #f063b8;
}

#testimonial-section #controls #testimonial-scroll__move-control {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-right: 40px;
}

#testimonial-section #controls #testimonial-scroll__move-control i.fas {
  cursor: pointer;
  color: white;
  font-size: 28px;
  line-height: 10px;
}

#testimonial-section #controls #testimonial-scroll__move-control i.fas.disabled {
  opacity: 0.4;
}

:root {
  font-family: 16px;
  --body-horizontal-padding: 9vw;
}

html {
  margin: 0;
  padding: 0;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f6fafd), color-stop(19.4%, #ffffff));
  background-image: linear-gradient(180deg, #f6fafd 0%, #ffffff 19.4%);
  background-repeat: no-repeat;
  margin: 20px auto;
  width: 82vw;
  min-height: 300vh;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 5vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

header nav li {
  color: #4b5d68;
  list-style: none;
  text-transform: capitalize;
}

header nav li.selected a {
  font-weight: 700 !important;
  color: #212353;
}

.section, #hero-section, #section--type-2, #features-section {
  margin: auto;
  margin-bottom: 100px;
}

.section .section__description, #hero-section .section__description, #section--type-2 .section__description, #features-section .section__description {
  font-size: 1em;
  letter-spacing: 0em;
  color: #4b5d68;
}

#hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 9rem 0 6rem;
}

#hero-section * {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#hero-section h1 {
  max-width: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
}

#hero-section .section__description {
  max-width: 28%;
  line-height: 29px;
  margin-bottom: 40px;
}

#hero-section img {
  position: absolute;
  right: 0;
  bottom: 0;
  height: auto;
  width: 56%;
}

#section--type-2 {
  width: 80%;
  border-radius: 50px;
  background: rgba(240, 99, 184, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 80px 10px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  gap: 20px;
}

#section--type-2 img {
  width: 120% !important;
}

#section--type-2 .section__description {
  line-height: 160%;
  width: 88%;
}

#features-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#features-section .section__description {
  max-width: 42%;
  text-align: center;
  margin-bottom: 72px;
}

.feature-cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.brand {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: auto 20px auto auto;
      grid-template-rows: auto 20px auto auto;
      grid-template-areas: "logo brand-name" ". ." "address address" "contact contact";
  -ms-grid-row-align: center;
      align-self: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.brand .brand__logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
}

.brand .brand__name {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: brand-name;
  margin: 0;
}

.brand .brand__address {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: address;
  color: #212353;
}

.brand .brand__contact {
  color: #212353;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: contact;
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  padding: 80px var(--body-horizontal-padding);
  border-top: 2px solid rgba(156, 105, 226, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

footer .footer__part-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer__part-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer__part-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer__part-1 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

footer .footer__part-1 h2 {
  margin-bottom: 12px;
}

footer .footer__part-1 .try-for-free-description {
  color: #4b5d68;
}

footer .footer__part-1 #buttons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 20px;
}

footer .footer__part-1 #buttons .button--primary {
  background: #f063b8;
}

footer .footer__part-1 #buttons .button--primary:hover {
  background: #c05194;
}

footer .footer__part-2 #links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40%;
}

footer .footer__part-2 ul {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

footer .footer__part-2 ul li a {
  color: #0e0f2e;
  font-weight: 500 !important;
  -webkit-transition: color 0.25s ease;
  transition: color 0.25s ease;
}

footer .footer__part-2 ul li a:hover {
  border-bottom: 3px dashed #487ae6;
  color: #487ae6;
}

footer .footer__part-2 #contact-social-media #icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  cursor: pointer;
}

footer .footer__part-2 #contact-social-media #icons a.icon {
  display: block;
  width: 32px;
  height: 32px;
  background: rgba(33, 35, 83, 0.1);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

footer .footer__part-2 #contact-social-media #icons a.icon i.fab {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

footer .footer__part-2 #contact-social-media #icons a.icon:hover {
  background: #f063b8;
}

footer .footer__part-2 #contact-social-media #icons a.icon:hover i.fab {
  color: white;
}

footer .footer__part-3 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer__part-3 #copyrights {
  color: #212353;
}

footer .footer__part-3 #chat-icon {
  cursor: pointer;
  background: rgba(156, 105, 226, 0.2);
  padding: 10px;
  border-radius: 50%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

footer .footer__part-3 #chat-icon i.fas {
  font-size: 22px;
  color: #9c69e2;
}
