@import "./base/index";
@import "./components/index";
@import "./testimonial-section";

:root {
    font-family: 16px;
    --body-horizontal-padding: 9vw;
}
html {
    margin: 0;
    padding: 0;
}

body {
    @extend .roboto;
    background-image: linear-gradient(180deg, #f6fafd 0%, #ffffff 19.4%);
    background-repeat: no-repeat;
    margin: 20px auto;
    width: 82vw;
    min-height: 300vh;
    // background-color: red;
}

header {
    display: flex;
    justify-content: space-around;
    gap: 5vw;
    align-items: center;
    nav {
        // background-color: red;
        // width: auto;
        flex: 1;
        display: flex;
        gap: 40px;
        @extend .nunito-600;
        li {
            color: #4b5d68;
            list-style: none;
            text-transform: capitalize;

            &.selected a {
                font-weight: 700 !important;
                color: #212353;
            }
        }
    }
}

.section {
    margin: auto;
    margin-bottom: 100px;
    .section__description {
        @extend .nunito-600;
        font-size: 1em;
        letter-spacing: 0em;
        color: #4b5d68;
    }
}

#hero-section {
    @extend .section;
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 9rem 0 6rem;

    // margin-bottom: 180px;
    * {
        width: fit-content;
    }
    h1 {
        max-width: 50%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .section__description {
        max-width: 28%;
        line-height: 29px;
        margin-bottom: 40px;
    }

    img {
        position: absolute;
        right: 0;
        bottom: 0;
        height: auto;
        width: 56%;
    }
}

#section--type-2 {
    @extend .section;
    width: 80%;
    // margin: auto;
    border-radius: 50px;
    background: rgba(240, 99, 184, 0.15);
    display: flex;
    align-items: center;
    padding: 10px 80px 10px 20px;
    box-sizing: border-box;
    gap: 20px;

    img {
        width: 120% !important;
    }

    .section__description {
        line-height: 160%;
        width: 88%;
    }
}

#features-section {
    @extend .section;
    display: flex;
    flex-direction: column;
    align-items: center;

    .section__description {
        max-width: 42%;
        text-align: center;
        margin-bottom: 72px;
    }
}
.feature-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    // width: fit-content;
    justify-content: center;
}

.brand {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto 20px auto auto;
    grid-template-areas:
        "logo brand-name"
        ". ."
        "address address"
        "contact contact";
    align-self: center;
    column-gap: 20px;
    .brand__logo {
        grid-area: logo;
    }
    .brand__name {
        grid-area: brand-name;
        margin: 0;
    }
    .brand__address {
        @extend .nunito-600;
        grid-area: address;
        color: #212353;
    }
    .brand__contact {
        @extend .nunito-800;
        color: #212353;
        grid-area: contact;
    }
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    padding: 80px var(--body-horizontal-padding);
    border-top: 2px solid rgba(#9c69e2, 0.2);
    display: flex;
    flex-direction: column;
    gap: 20px;

    @for $n from 1 to 4 {
        .footer__part-#{$n} {
            display: flex;
            justify-content: space-between;
        }
    }

    .footer__part-1 {
        align-items: center;
        margin-bottom: 40px;

        h2 {
            margin-bottom: 12px;
        }
        .try-for-free-description {
            color: #4b5d68;
        }
        #buttons {
            display: inline-flex;
            gap: 20px;
            .button--primary {
                background: #f063b8;

                &:hover {
                    background: #c05194;
                }
            }
        }
    }
    .footer__part-2 {
        #links {
            display: flex;
            gap: 40%;
        }
        ul {
            list-style: none;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 8px;

            li a {
                color: #0e0f2e;
                font-weight: 500 !important;
                transition: color 0.25s ease;

                &:hover {
                    border-bottom: 3px dashed #487ae6;
                    color: #487ae6;
                }
            }
        }
        #contact-social-media {
            #icons {
                display: flex;
                gap: 10px;
                cursor: pointer;

                a.icon {
                    display: block;
                    width: 32px;
                    height: 32px;
                    background: rgba(#212353, 0.1);
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    transition: background 0.3s ease;
                    i.fab {
                        transition: color 0.3s ease;
                    }

                    &:hover {
                        background: rgba(#f063b8, 1);

                        i.fab {
                            color: white;
                        }
                    }
                }
            }
        }
    }
    .footer__part-3 {
        align-items: center;
        #copyrights {
            color: #212353;
        }

        #chat-icon {
            cursor: pointer;
            background: rgba(#9c69e2, 0.2);
            padding: 10px;
            border-radius: 50%;
            height: fit-content;
            i.fas {
                font-size: 22px;
                color: #9c69e2;
            }
        }
    }
}
