.button {
    border-radius: 500px;
    font-size: 1rem;
    padding: 10px 20px;
}

.button--primary {
    @extend .button;
    background: #9c69e2;
    color: white;

    &:hover {
        background: #724da7;
    }
}
.button--secondary {
    @extend .button;
    color: #212353;
    background-color: white;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);

    &:hover {
        background: rgb(221, 221, 221);
    }

    &::after,
    &::before {
        color: #9c69e2;
    }
}
