.feature-card {
    max-width: 500px;
    min-height: 300px;
    padding: 20px;
    // align-items: center;
    align-content: center;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        "img heading"
        "img description"
        ". learn-more";
    background-repeat: no-repeat;
    background-position: right;
    column-gap: 20px;
    background-size: 75% 100%;
    padding: 12px;

    @include mobile {
        display: flex;
        flex-direction: column;
    }

    .feature-card__image {
        grid-area: img;
        height: auto;
        width: 100%;
        transform: scale(0.9);
    }
    .feature-card__heading {
        text-transform: capitalize;
        grid-area: heading;
        margin-bottom: 0px;
    }
    .feature-card__description {
        grid-area: description;
        color: #4b5d68;
        margin-right: 10px;
    }
    .feature-card__learn-more {
        grid-area: learn-more;
        color: #212353;

        &::after {
            color: #9c69e2;
        }
    }
}

@for $n from 1 to 5 {
    #feature-card-#{$n} {
        background-image: url("./../assets/feature-card-#{$n}-bg.svg");
    }
}
