@import "./typography";

.material-icon {
    font-family: "Material Icons";
}

// Overrides

* {
    box-sizing: border-box;
    margin: 0;
}

h1 {
    font-size: 2.8em;
}

a {
    text-decoration: none;
    color: black;
}
a::after {
    content: attr(data-icon);
    @extend .material-icon;
}

button {
    @extend .mulish-700;
    display: inline-flex;
    align-items: center;
    border-radius: 500px;
    font-size: 0.8em !important;
    border: 1px solid rgb(110, 110, 110);
    padding: 12px 24px !important;
    cursor: pointer;
    width: fit-content;
}

button::after {
    @extend .material-icon;
    margin-left: 6px;
    content: attr(data-icon);
}
