@import "./typography";
@import "./media-queries";

.material-icon {
    font-family: "Material Icons";
}

// Overrides

* {
    box-sizing: border-box;
    margin: 0;
}

h1 {
    font-size: 2.8em;

    @include mobile {
        font-size: 2rem;
    }
}

a,
button {
    cursor: pointer;
}

a {
    @extend .mulish-600;
    text-decoration: none;
    color: black;
    display: inline-flex;
    align-items: flex-end;
    height: fit-content;
    color: #4089ed;
}
a[data-icon]::after {
    @extend .material-icon;
    content: attr(data-icon);
    margin-left: 6px;
}

button {
    @extend .mulish-700;
    display: inline-flex;
    align-items: center;
    border-radius: 500px;
    font-size: 0.8em !important;
    border: 1px solid rgb(110, 110, 110);
    padding: 12px 24px !important;
    width: fit-content;
    color: var(--color, black);
    background-color: var(--background-color, white);
    transition: all 0.25s ease;
    min-width: 160px;
    justify-content: center;
}

button::after {
    @extend .material-icon;
    margin-left: 6px;
    content: attr(data-icon);
}
button:hover {
    background-color: var(--color);
    color: var(--background-color);
}
