.btn {
    @extend .inter-500;
    --background: white;
    --color: #fb8f1d;
    padding: 8px 16px;
    font-size: 0.75em;
    border-radius: 8px;
    border: 1px solid #fb8f1d;

    background: var(--background);
    color: var(--color);
}
.btn-primary,
.btn-secondary {
    @extend .btn;
}
.btn-primary {
    --color: white;
    --background: #fb8f1d;
}
// .btn-secondary {
// }
