.roboto, .roboto-400, .roboto-500 {
  font-family: "Roboto";
}

.roboto-400 {
  font-weight: 400;
}

.roboto-500 {
  font-weight: 500;
}

input[type="range"] {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 100%;
  /* Specific width is required for Firefox. */
  background: transparent;
  /* Otherwise white in Chrome */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none;
  /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.color-picker-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 16px 20px;
  -webkit-box-shadow: 0px 16px 32px rgba(35, 23, 5, 0.26);
          box-shadow: 0px 16px 32px rgba(35, 23, 5, 0.26);
}

.color-picker-container input[type="range"] {
  --height: 12px;
  --background: linear-gradient(
            to left,
            #ff0008 0%,
            #ff00eb 16.67%,
            #0e00ff 32.81%,
            #00edff 49.06%,
            #00ff00 67.97%,
            #fffe00 83.13%,
            #ff0800 100%
        );
  /* All the same stuff for Firefox */
  /* All the same stuff for IE */
}

.color-picker-container input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 4px solid black;
  height: calc(var(--height) + 10px);
  width: calc(var(--height) + 10px);
  border-radius: 50%;
  cursor: pointer;
  margin-top: -5px;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

.color-picker-container input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

.color-picker-container input[type="range"]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

.color-picker-container input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: var(--height);
  cursor: pointer;
  background: var(--background);
  border-radius: 20px;
}

.color-picker-container input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: var(--background);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
