@import "./typography";
@import "./media-queries";

.material-icon {
    font-family: "Material Icons";
    font-size: 24px;
}

// Overrides

a {
    @extend .nunito-400;
    text-decoration: none;
    color: black;
}
button {
    cursor: pointer;
    border: 0;
}

a[data-icon],
button[data-icon],
a[data-icon-position="right"],
button[data-icon-position="right"] {
    display: inline-flex;
    align-items: center;

    &::after {
        @extend .material-icon;
        font-size: 20px;
        margin-left: 10px;
        content: attr(data-icon);
    }
}

a[data-icon-position="left"],
button[data-icon-position="left"] {
    display: inline-flex;
    align-items: center;

    &::before {
        @extend .material-icon;
        font-size: 20px;
        margin-left: 10px;
        content: attr(data-icon);
    }
}

@for $i from 1 to 6 {
    h#{$i} {
        @extend .roboto-700;
        color: #212353;
    }
}

p {
    @extend .nunito-400;
}

h1 {
    font-size: 4.5rem;
}
h2 {
    font-size: 2.4rem;
}
h4 {
    font-size: 1.6rem;
}
h5 {
    font-size: 1rem;
}

@include mobile {
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2rem;
    }
}
