@import "./base/index";
@import "./components/index";

:root {
    font-size: 18px;
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

#container {
    width: 80vw;
    margin: auto;
}

header {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;

    nav {
        margin-left: auto;
        display: flex;
        gap: 20px;

        a.nav--link {
            @extend .inter-400;
            color: #b8b3cd;
            font-size: 1em;

            &.selected {
                @extend .inter-500;
                color: #202336;
            }
        }
    }

    .buttons-container {
        display: flex;
        gap: 18px;
    }
}
