.inter, .inter-400, header nav a.nav--link, .inter-500, .btn, .btn-primary,
.btn-secondary, header nav a.nav--link.selected, .inter-600, .inter-700 {
  font-family: "Inter";
}

.playfair-display, .playfair-display-700, .section .section--heading {
  font-family: "Playfair Display";
}

.mulish, .mulish-300, footer #inner #brand p, footer #inner .links-section .links-container, .section .section--description, .mulish-400, .mulish-700, footer #inner .links-section h4 {
  font-family: "Mulish";
}

.inter-400, header nav a.nav--link {
  font-weight: 400;
}

.inter-500, .btn, .btn-primary,
.btn-secondary, header nav a.nav--link.selected {
  font-weight: 500;
}

.inter-600 {
  font-weight: 600;
}

.inter-700 {
  font-weight: 700;
}

.playfair-display-700, .section .section--heading {
  font-weight: 700;
}

.mulish-300, footer #inner #brand p, footer #inner .links-section .links-container, .section .section--description {
  font-weight: 300;
}

.mulish-400 {
  font-weight: 400;
}

.mulish-700, footer #inner .links-section h4 {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

.btn, .btn-primary,
.btn-secondary {
  --background: white;
  --color: #fb8f1d;
  padding: 8px 16px;
  font-size: 0.75em;
  border-radius: 8px;
  border: 1px solid #fb8f1d;
  background: var(--background);
  color: var(--color);
}

.btn-primary {
  --color: white;
  --background: #fb8f1d;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

header nav {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

header nav a.nav--link {
  color: #b8b3cd;
  font-size: 1em;
}

header nav a.nav--link.selected {
  color: #202336;
}

header .buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
}

footer {
  background-color: #f9f9fb;
  margin: 0;
  margin-top: 200px;
  padding-top: 60px;
}

footer #inner {
  width: 80vw;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}

footer #inner #brand {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

footer #inner #brand p {
  color: #848484;
  font-size: 1em;
  line-height: 28px;
  letter-spacing: 0em;
}

footer #inner .links-section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

footer #inner .links-section .links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2px;
  font-size: 1em;
  line-height: 38px;
  letter-spacing: 0em;
  color: #848484;
}

footer hr {
  width: 80%;
  margin: 80px auto 20px auto;
}

footer #contact-social-media {
  margin: 10px auto 32px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2em;
}

footer #contact-social-media i.fab {
  font-size: 24px;
}

:root {
  font-size: 18px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#container {
  width: 80vw;
  margin: auto;
}

.section {
  margin: 80px 0;
}

.section .section--description {
  font-size: 0.98em;
  line-height: 30px;
  letter-spacing: 0em;
  color: #7d7987;
}

#section-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% auto;
      grid-template-columns: 40% auto;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  grid-auto-flow: column;
  -webkit-column-gap: 40px;
          column-gap: 40px;
}

#section-2 .section--heading {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

#section-2 img {
  width: 100%;
  height: auto;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / 4;
}

#section-2 .section--description {
  width: 80%;
}

#section-2 .btn-primary {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#section-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section-4 img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / 4;
  height: auto;
  width: 40%;
}

#section-4 .section--description {
  width: 72%;
}
