@import "./base/index";
@import "./parts/index";
@import "./components/index";

:root {
    font-family: 18px;
}

body {
    @extend .nunito;
    margin: 0;
    padding: 0;

    --container-width: 86vw;
    --body-padding: calc((100vw - var(--container-width)) / 2);
}

#container {
    width: var(--container-width);
    margin: 20px auto;
}
