.nunito, .nunito-400, header nav .nav--link, #hero-section .sub-heading, footer .subscribe-section .input-container input, .nunito-600, #about-us-section .image-section .image-section--content, #how-to-section .content .content--item::before, #categories-section .content .card .card--button, #testimonial-section .content .testimonial-container .testimonial-card .testimonial-card--author .author--name, .nunito-700, .bold, #hero-section .heading, .section .section--heading .section--heading__primary, .call-to-action, .nunito-800, header nav .nav--link.active, #categories-section .content .card .card--title, .section .section--heading .section--heading__secondary, body {
  font-family: "Nunito";
}

.nunito-400, header nav .nav--link, #hero-section .sub-heading, footer .subscribe-section .input-container input {
  font-weight: 400;
}

.nunito-600, #about-us-section .image-section .image-section--content, #how-to-section .content .content--item::before, #categories-section .content .card .card--button, #testimonial-section .content .testimonial-container .testimonial-card .testimonial-card--author .author--name {
  font-weight: 600;
}

.nunito-700, .bold, #hero-section .heading, .section .section--heading .section--heading__primary, .call-to-action {
  font-weight: 700;
}

.nunito-800, header nav .nav--link.active, #categories-section .content .card .card--title, .section .section--heading .section--heading__secondary {
  font-weight: 800;
}

.uppercase, .section .section--heading .section--heading__secondary {
  text-transform: uppercase;
}

.flex, .flex--column, #how-to-section, #how-to-section .content .content--item, #categories-section .content .card, .column, header, header nav, #about-us-section .image-section, #how-to-section .content, #categories-section .content, #testimonial-section .content, .testimonial-controls, .testimonial-controls #testimonial-bubbles, footer .subscribe-section .input-container, .section .section--heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex--column, #how-to-section, #how-to-section .content .content--item, #categories-section .content .card, .column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav {
  margin-left: auto;
  margin-right: 40px;
  gap: 20px;
}

header nav .nav--link {
  font-size: 1em;
  line-height: 22px;
  color: rgba(34, 34, 34, 0.75);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header nav .nav--link.active {
  color: #daa520;
}

header nav .nav--link.active:hover {
  color: rgba(218, 165, 32, 0.85);
}

header nav .nav--link:hover {
  color: rgba(34, 34, 34, 0.45);
}

header button {
  background: transparent;
  border-radius: 8px;
  border: 1px solid #3e3f43;
  padding: 7px 20px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

header button:hover {
  background: #daa520;
  color: white;
  border-color: #daa520;
}

#hero-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -ms-grid-rows: (auto)[4];
      grid-template-rows: repeat(4, auto);
}

#hero-section .heading,
#hero-section .sub-heading {
  margin: 0;
}

#hero-section .sub-heading {
  margin-top: 80px;
  font-size: 2em;
  max-width: 460px;
}

#hero-section .heading {
  font-size: 4em;
  max-width: 460px;
  margin-bottom: 40px;
}

#hero-section img {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1 / 5;
  width: 80%;
  justify-self: flex-end;
}

#about-us-section .image-section {
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

#about-us-section .image-section .image-section--content {
  max-width: 50%;
}

#about-us-section .image-section .image-section--content h2 {
  font-size: 2em;
  color: #3e3f43;
}

#about-us-section .image-section .image-section--content h2 span.bold {
  font-weight: 800 !important;
}

#about-us-section .image-section .image-section--content p {
  font-size: 1.3em;
}

#about-us-section .image-section:nth-child(3) img {
  margin-left: auto;
}

#how-to-section {
  counter-reset: my-counter;
}

#how-to-section .content {
  margin: 40px 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#how-to-section .content .content--item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#how-to-section .content .content--item::before {
  counter-increment: my-counter;
  content: counter(my-counter);
  font-size: 5.8em;
  color: rgba(249, 189, 189, 0.25);
  position: absolute;
  left: -40px;
  top: 20%;
}

#how-to-section button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#categories-section .content {
  gap: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#categories-section .content .card {
  border-radius: 0 100px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 280px;
  height: 360px;
  padding: 12px 16px;
}

#categories-section .content .card .card--title {
  margin: 0;
  font-size: 24px;
}

#categories-section .content .card .card--preview {
  width: 60%;
  margin: auto;
}

#categories-section .content .card .card--button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 4px;
  border: 1px solid black;
  background: transparent;
  padding: 6px 12px;
}

#categories-section .content .card:first-child .card--preview {
  width: 86%;
  position: relative;
  left: -36px;
}

#categories-section .content .card:nth-child(3n + 1) {
  background-color: #f9bdbd;
}

#categories-section .content .card:nth-child(3n + 2) {
  background-color: #f7dea6;
}

#categories-section .content .card:nth-child(3n) {
  background-color: #a8dcec;
}

#testimonial-section .content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

#testimonial-section .content .image {
  border-radius: 100px 0;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}

#testimonial-section .content .testimonial-container .testimonial-card {
  border: 1px solid #a8dcec;
  border-radius: 0 100px;
  padding: 40px 20px;
}

#testimonial-section .content .testimonial-container .testimonial-card .star-section i.fa-star {
  color: #ffc107;
}

#testimonial-section .content .testimonial-container .testimonial-card .testimonial-card--author {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

#testimonial-section .content .testimonial-container .testimonial-card .testimonial-card--author .author--image {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

#testimonial-section .content .testimonial-container .testimonial-card .testimonial-card--author .author--name {
  display: inline-block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  line-height: 20px;
  color: #afafaf;
  max-width: 140px;
}

.testimonial-controls {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  color: #3e3f43;
}

.testimonial-controls .disabled {
  color: #c4c4c4;
}

.testimonial-controls #testimonial-bubbles {
  gap: 8px;
}

.testimonial-controls #testimonial-bubbles .bubble {
  background-color: #e5e5e5;
  width: 45px;
  height: 8px !important;
  border-radius: 20px;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.testimonial-controls #testimonial-bubbles .bubble.selected {
  background-color: #daa520;
}

.testimonial-controls .control-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  cursor: pointer;
}

footer {
  padding: 40px var(--body-padding) 0;
  background-color: #e5e5e5;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
  margin-top: 150px;
}

footer .subscribe-section {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
      grid-template-areas: "heading input" "message input";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

footer .subscribe-section h3 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: heading;
  margin: 0;
}

footer .subscribe-section p {
  margin: 0;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: message;
}

footer .subscribe-section .input-container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: input;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

footer .subscribe-section .input-container input {
  display: block;
  border: 1px solid #daa520;
  border-radius: 4px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-left: 12px;
}

footer .subscribe-section .input-container button {
  padding: 8px 24px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

footer .something {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[5];
      grid-template-columns: repeat(5, auto);
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
  border-top: 1px solid #c4c4c4;
  padding-top: 20px;
  gap: 10px;
  width: 136%;
}

footer .something .column--title {
  margin-top: 0;
  margin-bottom: 10px;
}

footer .something .link {
  display: block;
  color: #8d8d8d;
}

footer .something .brand-rights {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #8d8d8d;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1 / 6;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer img {
  justify-self: flex-end;
  width: 58%;
}

.column {
  gap: 7px;
}

.section {
  margin: 40px 0;
}

.section .section--heading {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  margin-bottom: 20px;
}

.section .section--heading .section--heading__primary {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2em;
}

.section .section--heading .section--heading__primary::before {
  content: url("./../assets/logo-icon.svg");
  vertical-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 4px;
}

.section .section--heading .divider {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 1px solid #000000;
}

.section .section--heading .section--heading__secondary {
  font-size: 4em;
  color: rgba(34, 34, 34, 0.1);
}

.call-to-action {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  background: #daa520;
  border: none;
  padding: 14px 24px;
  border-radius: 4px;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.call-to-action:hover {
  background-color: rgba(218, 165, 32, 0.8);
}

:root {
  font-family: 18px;
}

body {
  margin: 0;
  padding: 0;
  --container-width: 86vw;
  --body-padding: calc((100vw - var(--container-width)) / 2);
}

#container {
  width: var(--container-width);
  margin: 20px auto;
}
